*root {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: black;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.5;
}
.menu {
  text-decoration: none;
  color: inherit;
}
.link {
  text-decoration: none;
  color: inherit;
}
